{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<form method="POST">
  <h3 align="center">Inloggning</h3>
  <div class="form-group">
    <label for="email">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Skriv in email"
    />
  </div>
  <div class="form-group">
    <label for="lösenord">lösenord</label>
    <input
      type="lösenord"
      class="form-control"
      id="lösenord"
      name="lösenord"
      placeholder="Skriv in lösenord"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Logga in</button>
</form>
{% endblock %}

